body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

@import "./layouts/header";

.location {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  font-weight: 500;

  &__icon {
    font-weight: 16px;
  }
}

.explorer {
  text-align: center;
  &__title {
    margin-top: 2rem;
    font-size: 23px;
  }
  &__text {
    font-weight: 300;
  }
  &__btn {
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 200px;
    padding: 3%;
    background-image: linear-gradient(
      to top,
      rgba(147, 86, 220, 0.9),
      rgba(255, 121, 218, 0.9)
    );
  }
}
