* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@import "./layouts/header";

.location {
  background-color: #f2f2f2;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 4%;
  font-weight: 500;

  &__icon {
    font-weight: 16px;
  }
}
