@use "../utils/mixins";

.btn {
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 200px;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  background-color: #686868;
  @include mixins.gradient;
  transition-duration: 0.2s;

  &:hover {
    @include mixins.box-shadow;
  }
}
