@media screen and (min-width: 1024px) {
  .menus {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    &__img {
      height: 350px;
    }
  }
  .menusbloc {
    display: flex;
    flex-direction: row;
  }
  .menusdetails {
    width: 33%;
  }
  .filters {
    max-width: 1280px;
    width: 100%;
    padding: 1rem;
    &__steps {
      flex-direction: row;
      justify-content: space-between;
    }
    &__step {
      width: 30%;
    }

    &__text {
      padding-right: 2rem;
      margin-left: -15px;
    }
  }
  .cards {
    max-width: 1280px;
    &__block {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
    }
    &__links {
      width: 48%;
    }
  }
}
