* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@keyframes loader-out {
  0% {
    opacity: 0.9;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -99;
  }
}
@keyframes upanddown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loader {
  position: fixed;
  background-color: #ffffff;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: 1;
  animation: loader-out 1s 1.5s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__dotsContainer {
  display: flex;
  justify-content: space-between;
  width: 5rem;
}

.loader__dots {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: upanddown 1s;
  animation-iteration-count: 1;
}

.loader__dots--1 {
  background-color: #9356dc;
}

.loader__dots--2 {
  background-color: #ff79da;
  animation-delay: 0.2s;
}

.loader__dots--3 {
  background-color: #99e2d0;
  animation-delay: 0.3s;
}

.btn {
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 200px;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to top left, #9356dc, #ff79da);
  transition-duration: 0.2s;
}
.btn:hover {
  box-shadow: 0.4rem 0.4rem 15px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to top left, #9b63df, #ff88de);
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  position: relative;
  font-size: 14px;
}
header h1 {
  margin: 0;
}

.header__arrow {
  display: flex;
  align-items: center;
  position: absolute;
  color: black;
  font-size: 1.3rem;
  left: 2rem;
  top: 1rem;
}

.cards {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
  width: 100%;
  margin: auto;
}
.cards__block {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.cards__links {
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  position: relative;
  display: block;
}
.cards__img {
  width: 100%;
  height: 192px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.cards__badge {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 5px 10px;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 15px;
}
.cards__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 1rem;
}
.cards__title {
  margin: 0 0 4px;
}
.cards__text {
  margin: 0;
}

.fa-2x {
  font-size: 1.5rem;
}

.cards__heart1 {
  position: absolute;
}

.cards__heart2 {
  position: relative;
  color: transparent;
  background-color: white;
  background-image: linear-gradient(to top left, #9356dc, #ff79da);
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms;
}
.cards__heart2:hover {
  opacity: 1;
}

.footer {
  width: 100%;
  background-color: #353535;
}
.footer__bloc {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  color: white;
  margin: 0;
}
.footer__links {
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-top: 10px;
}
.footer__links:hover {
  text-decoration: underline;
}

.location {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}

.explorer {
  text-align: center;
  background-color: #f6f6f6;
  padding: 1rem 0 3rem;
}
.explorer__title {
  font-size: 23px;
}
.explorer__text {
  font-weight: 300;
}

.section1 {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.filters {
  width: 92%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.filters__steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.filters__step {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  transition-duration: 0.2s;
}
.filters__step:hover {
  cursor: pointer;
  box-shadow: 0.4rem 0.4rem 15px rgba(0, 0, 0, 0.5);
  background-color: #f3f3f3;
}
.filters__step:hover i {
  color: #9356dc;
}
.filters__text {
  padding: 0.2rem;
}
.filters__numbers {
  background-color: #9356dc;
  color: white;
  border-radius: 400px;
  padding: 2px 7px 2px 7px;
  margin: 0 -10px;
}
.filters__icons {
  color: #7a7a7a;
  margin: 0 30px;
}

.menus {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
.menus__img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.menus__description {
  margin-top: -50px;
}
.menus__header {
  border-radius: 2rem 2rem 0 0;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 0 1rem;
}
.menus__title {
  margin: 0;
  font-family: "Shrikhand", cursive;
}

.menusdetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 320px;
  width: 100%;
}
.menusdetails__steps {
  margin-bottom: 0;
  margin-left: 0.5rem;
  border-bottom: 0.2rem solid #99e2d0;
  width: 44px;
}
.menusdetails__cards {
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  line-height: 25px;
  font-size: 14px;
  justify-content: space-between;
  align-items: end;
  padding: 0.5rem 1rem;
  animation: appear 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  opacity: 0;
  overflow: hidden;
}
.menusdetails__description {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menusdetails__title {
  margin: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menusdetails__text {
  margin: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menusdetails__price {
  display: flex;
  font-weight: bold;
}
.menusdetails__confirm {
  background-color: #99e2d0;
  margin: -2.1rem -5rem -0.5rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.6s;
  border-radius: 0 0.9rem 0.9rem 0;
}
.menusdetails__wrapicon {
  background-color: #fff;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(360deg);
  transition-duration: 1s;
}
.menusdetails__icon {
  color: #99e2d0;
}

.menusdetails__cards:hover .menusdetails__wrapicon {
  transform: rotate(0);
}

.menusdetails__cards:hover .menusdetails__confirm {
  margin-right: -1rem;
}

.menusdetails--1 {
  height: 400px;
}

.delay-0 {
  animation-delay: 0.1s;
}

.delay-1 {
  animation-delay: 0.3s;
}

.delay-2 {
  animation-delay: 0.5s;
}

.delay-3 {
  animation-delay: 0.7s;
}

.delay-4 {
  animation-delay: 0.9s;
}

.delay-5 {
  animation-delay: 1.1s;
}

.delay-6 {
  animation-delay: 1.3s;
}

.delay-7 {
  animation-delay: 1.5s;
}

.delay-8 {
  animation-delay: 1.7s;
}

.delay-9 {
  animation-delay: 1.9s;
}

.menus__btn {
  text-align: center;
  padding: 3rem;
}
.menus__btn--modif {
  padding: 1rem 3rem;
}

@media screen and (min-width: 1024px) {
  .br-off {
    display: none;
  }
  .filters {
    max-width: 1280px;
    width: 100%;
    padding: 0 1rem;
  }
  .filters__steps {
    flex-direction: row;
    justify-content: space-between;
  }
  .filters__step {
    width: 30%;
  }
  .filters__text {
    padding-right: 2rem;
    margin-left: -15px;
  }
  .cards {
    max-width: 1280px;
  }
  .cards__block {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .cards__links {
    width: 48%;
  }
  .menus {
    max-width: 1280px;
    width: 100%;
    margin: auto;
  }
  .menus__img {
    height: 350px;
  }
  .menusbloc {
    display: flex;
    flex-direction: row;
  }
  .menusdetails {
    width: 33%;
  }
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer__bloc {
    flex-direction: row;
    gap: 5rem;
  }
  .footer__links {
    margin-top: 3px;
  }
}

/*# sourceMappingURL=style.css.map */
