@use "./variables" as *;

@mixin box-shadow {
  box-shadow: 0.4rem 0.4rem 15px rgba(0, 0, 0, 0.5);
}

@mixin gradient {
  background-image: linear-gradient(
    to top left,
    $color-primary,
    $color-secondary
  );
}

@mixin text-overflow {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
